@foreach (var burger in Order.Burgers)
{
    <p>
        <strong>
            @(burger.Size)cm
            @burger.Special.Name
            (@burger.GetFormattedTotalPrice()€)
        </strong>
    </p>

    <ul>
        @foreach (var topping in burger.Toppings)
        {
            <li>+ @topping.Topping.Name</li>
        }
    </ul>
}

<p>
    <strong>
        Precio total:
        @Order.GetFormattedTotalPrice()€
    </strong>
</p>

@code {
    [Parameter] public Order Order { get; set; }
}