@page "/"
@inject HttpClient HttpClient

<div class="main">
    <ul class="burger-cards">
        @if (specials != null)
        {
            @foreach (var special in specials)
            {
                <li @onclick="@(() => ShowConfigureBurgerDialog(special))" style="background-image: url('@special.ImageUrl')">
                    <div class="burger-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.GetFormattedBasePrice()</span>
                    </div>
                </li>
            }
        }
    </ul>
</div>


@if (showingConfigureDialog)
{
    <ConfigureBurgerDialog
        Burger="configuringBurger"
        OnCancel="CancelConfigureBurgerDialog"
        OnConfirm="ConfirmConfigureBurgerDialog" />
}

@code {
    List<BurgerSpecial> specials;
    Burger configuringBurger;
    bool showingConfigureDialog;

    protected override async Task OnInitializedAsync()
    {
        specials = await HttpClient.GetFromJsonAsync<List<BurgerSpecial>>("specials");
    }

    void ShowConfigureBurgerDialog(BurgerSpecial special)
    {
        configuringBurger = new Burger()
        {
            Special = special,
            SpecialId = special.Id,
            Size = Burger.DefaultSize,
            Toppings = new List<BurgerTopping>(),
        };

        showingConfigureDialog = true;
    }

    void CancelConfigureBurgerDialog()
    {
        configuringBurger = null;
        showingConfigureDialog = false;
    }

    void ConfirmConfigureBurgerDialog()
    {
        configuringBurger = null;

        showingConfigureDialog = false;
    }

}

